.NavBar{
    position: relative;
    display: flex;
    margin: 20px;
}
.CartComponents{
    position: relative;
    margin: auto;
    margin-bottom: 100px;
    text-align: right;
}
.CartImage{
    /* display: flex; */
    position: absolute;
    margin: auto;
    height: 100px;
    width: 100px;
    

}
.NumberDiv{
    position: absolute;
    font-size: 30px;
}
.ProductItem{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.productArray{
    margin: auto;
    width: 250px;
    height: 190px;
}